@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
}

.main-container {
  background-image: url('https://images.pexels.com/photos/55787/pexels-photo-55787.jpeg');
  background-size:cover;
  background-position-y: center;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


@-webkit-keyframes slidein {
from {background-position-x: right; background-size:150% 125% }
to {background-position-x: left;background-size:100% 125% }
}

@keyframes slidein {
  from {background-position-x: right; background-size:150% 125% }
  to {background-position-x: left;background-size:100% 125% }

}

.content {
  background: rgba(67, 0, 223, 0.3);
}

.icon-class {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.show-overlay {
  animation-name: slideIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  display: flex;
}

.hide-overlay {
  animation-name: slideOut;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  display: flex;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.settings-container {
  z-index: 1001;
}

.settings-form {
  z-index: 1002;
  position: relative;
  width: 90%;
  height: 300px;
}

.settings-form form{
}
